html {
	overflow-y: scroll;
}

:root {
	--linkcolor: #de0000;
	--visitedcolor: #7e69de;

	--bgcolor: #fff;
	--fontcolor: #000;
	--prebgcolor: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--linkcolor: #f26187;

		--bgcolor: #1c1b22;
		--fontcolor: #fff;
		--prebgcolor: #383838;
	}
}

body {
	max-width: 1040px;
	margin: 40px auto;
	padding: 0 10px;
	font: 14px/1.5 monospace;
	color: var(--fontcolor);
	background: var(--bgcolor);
}

a:link {
	color: var(--linkcolor);
}

a:visited {
	color: var(--visitedcolor);
}

a:active {
	color: var(--visitedcolor);
}

h1,
h2,
h3 {
	line-height: 1.2;
}

p > code {
	color: var(--precolor);
	background: var(--prebgcolor);
	padding: 2px;
}

code {
	color: var(--precolor);
	background: var(--prebgcolor);
	padding: 2px;
}

pre {
	color: var(--precolor);
	background: var(--prebgcolor);
	padding: 24px;
	overflow-x: auto;
}

article {
	padding: 24px 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

figcaption {
	color: #888;
	font: 12px/1.5 monospace;
	text-align: center;
}

figure {
	margin: auto;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

select {
	font-family: inherit;
	font-size: inherit;
	border: none;
	background: none;
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding: 0;
}
